<ui-view>
    <div class="col-md-offset-1 col-md-10">
        <h1>{$barter.title$}</h1>
        <span class="glyphicon glyphicon-star detail-collect" ng-if="barter.is_collected==1" ng-click="toggleCollectBarter($event,barter)"></span>
        <span class="glyphicon glyphicon-star-empty detail-collect" ng-if="barter.is_collected==0" ng-click="toggleCollectBarter($event,barter)"></span>
        <img class="detail-head" ng-src="{$upload_image_url + barter.headimg$}"/>
        <span class="detail-creator">{$barter.creatorName$}</span>
        <strong>{$zh.time$}</strong><span class="detail-time">{$barter.time$}</span>
        <p class="detail-description"><strong>{$zh.description$}</strong>{$barter.content$}</p>
        <div class="row">
            <img class="col-md-3 barter-img-show" ng-if="barter.image_one_sha1!==''" ng-src="{$resize_image_url + barter.image_one_sha1$}"/>
            <img class="col-md-3 barter-img-show" ng-if="barter.image_tow_sha1!==''" ng-src="{$resize_image_url + barter.image_tow_sha1$}"/>
            <img class="col-md-3 barter-img-show" ng-if="barter.image_three_sha1!==''" ng-src="{$resize_image_url + barter.image_three_sha1$}"/>
            <img class="col-md-3 barter-img-show" ng-if="barter.image_four_sha1!==''" ng-src="{$resize_image_url + barter.image_four_sha1$}"/>
        </div>
    </div>
</ui-view>
