<ui-view>
    <div class="container-fluid">
    <div class="nav head">
        <div class="head-left col-md-offset-1 col-md-2">
            <img class="logo" src="../media/images/logo.jpg"/>
            <h4>{$title$}</h4>
        </div>
        <div class="head-mid col-md-7">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" ng-class="{true:'active',false:''}[data.nav1]" ng-click="data.nav1=true;data.nav2=false;data.nav3=false;data.nav4=false;"><a ui-sref="app.recent">{$nav.nav1$}</a></li>
                <li role="presentation" ng-class="{true:'active',false:''}[data.nav2]" ng-click="data.nav2=true;data.nav1=false;data.nav3=false;data.nav4=false;"><a ui-sref="app.release">{$nav.nav2$}</a></li>
                <li role="presentation" ng-class="{true:'active',false:''}[data.nav3]" ng-click="data.nav3=true;data.nav2=false;data.nav1=false;data.nav4=false;"><a ui-sref="app.myRelease">{$nav.nav3$}</a></li>
                <li role="presentation" ng-class="{true:'active',false:''}[data.nav4]" ng-click="data.nav4=true;data.nav2=false;data.nav3=false;data.nav1=false;"><a ui-sref="app.myCollect">{$nav.nav4$}</a></li>
            </ul>
        </div>
        <div class="head-right col-md-2"></div>
    </div>
    <div ui-view="menuContent"></div>
    </div>
</ui-view>