<div id="top">
    <div id="title">
        <img id="logo" src="../media/images/logo.jpg" align="left" height="130">
        <!--    <h1 style="font-size:36px">高校网上跳蚤市场</h1>-->
        <a style="font-size:36px" style="margin-top:20px" style="font-family:宋体">高校网上跳蚤市场</a>
    </div><br />
    <div id="toplink">
        <a>欢迎你：<input id="log" type="button" style="font-size:16px;color:#0000FF"/></a>
        <a href="/reg">注册</a>
        <a href="#" onClick="logout()">退出</a>
    </div>
    <div id=catalog align="center">
        <table border="2">
            <tr>
                <th> <a href="/index">最近发布</a></th>
                <th><a href="/rele">发布物品</a></th>
                <th> <a href="/myrele">我的发布</a></th>
                <th><a href="/collect">我的收藏</a></th>
                <th><a href="/userInfo">用户信息</a></th>
            </tr>
        </table>
    </div>
</div>