<ui-view>
    <div class="background">
        <img class="background-img" src="../media/images/backimg1.jpg"/>

        <div class="container-fluid main">
            <div class="left col-md-6">
                <h1 class="title">高校网上跳蚤市场</h1>
                <div class="img-all">
                    <div class="img-list"><img src="../media/images/logo.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img12.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img2.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img3.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img13.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img5.jpg"/></div>
                    <div class="img-list"></div>
                    <div class="img-list"></div>
                    <div class="img-list"></div>
                    <div class="img-list"></div>
                    <div class="img-list"><img src="../media/images/img6.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img7.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img8.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img9.jpg"/></div>
                    <div class="img-list"><img src="../media/images/img11.jpg"/></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="right col-md-6">
                <div class="login" ng-if="state === 'login'">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="请输入用户名" ng-model="user.username"><span class="text-danger" ng-if="user.username ==''">{$user.usernameError$}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" placeholder="请输入密码" ng-model="user.pwd"><span class="text-danger" ng-if="user.pwd ==''">{$user.pwdError$}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <button type="submit" class="btn btn-default" ng-click="login()">登录</button>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" ng-click="goToReg()">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="reg" ng-if="state === 'reg'">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="请输入用户名" ng-model="user.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" placeholder="请输入密码" ng-model="user.pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">再次确认</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" placeholder="请保证两次输入的密码一致" ng-model="user.pwdCheck">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">学号</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="请输入正确的学号" ng-model="user.sno">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">学校</label>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="user.school" ng-options="item.value for item in schoolList">
                                        <option value = "">请选择所在院校...</option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="请输入正确的手机号" ng-model="user.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">QQ</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="请输入QQ号码" ng-model="user.qqNum">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <button type="submit" class="btn btn-default" ng-click="backToLogin()">返回登录</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-default" ng-click="reg()">完成注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ui-view>