<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的发布</title>
<link href="../media/css/main.css" rel="stylesheet" style="text/css" />
<link href="../media/css/colorbox.css" rel="stylesheet"/>
<script src="../media/jslib/jquery.js" type="text/javascript"></script>
<script src="../media/jslib/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../media/jslib/logout.js" type="text/javascript"></script>
<script src="../media/jslib/delbarter.js" type="text/javascript"></script>
<script type="text/javascript">
 var username = "{{username}}";
 var barter = [];
 var start;
 var end;
 var len;
	function fenye(val){
		switch (val){
		case 0://shouye
			start=0;
			end=10;			
			break;
		case 1://prev
			if(start!=0){
					start-=10;
					end-=10;
				}else{
					alert("已经是第一页了");
					return;
				}
				break;
		case 2:
			if(len<10){
				alert("已经是最后一页了");	
				return;
			}
			else{
				start+=10;
				end+=10;
			}
			break;	
		}
		var data={"type":"get-my-barters","recent-start":start,"recent-end":end};
		var post_data = {"data":JSON.stringify(data)};
        $("#content").empty();
        $.post("/request/",post_data,function (data){
            data = JSON.parse(data.replace(/<script.*<\/script>/,''));
			if(data.ret!='1101'){
				alert(data.info);
				return;	
			 }
			var barter = data.data;
			len=barter.length;
            var html="";
            var resize_image='http://collegebarter-resizefile.stor.sinaapp.com/';
            var image_prefix = 'http://collegebarter-uploadfile.stor.sinaapp.com/';
            $.each(barter,function(barterSha1,barter){
				//bartersha1=barter.barterSha1;
                html = '';
                html+='<div class="barter"><div id=head><div id=himg><img width=60px height=60px id="headimg" align="left" src='+image_prefix+barter.headimg+
				'></div><div id=htext sha1='+barter.barterSha1+'><h1 style="color:#0000FF">'+barter.title+
				'<input type="image" width=30px height=30px src="../media/images/del.jpg" align="right" onClick="del(this)"/>'+
				'</h1><a style="font-size:16px">用户名:'+
				barter.creatorName+'&nbsp;&nbsp;&nbsp;&nbsp;发布时间:'+barter.time+
				'</a><br /></div></div><p style="font-size:16px;background-color:#AFEEEE;font-family:宋体">'+barter.content+'</p>'
                if(barter.image_one_sha1){html+='<a class="group" href='+image_prefix+barter.image_one_sha1+'><img width=200px height=200px src='+
                        resize_image+barter.image_one_sha1+'></a>'};
                if(barter.image_two_sha1){html+='<a class="group" href='+image_prefix+barter.image_two_sha1+'><img width=200px height=200px src='+
                        resize_image+barter.image_two_sha1+'></a>'};
                if(barter.image_three_sha1){html+='<a class="group" href='+image_prefix+barter.image_three_sha1+'><img width=200px height=200px src='+
                        resize_image+barter.image_three_sha1+'></a>'};
                if(barter.image_four_sha1){html+='<a class="group" href='+image_prefix+barter.image_four_sha1+'><img width=200px height=200px src='+
                        resize_image+barter.image_four_sha1+'></a>'};
                html+='</div>'
                $("#content").append(html);
                $(".group").on("click",function(){
                    $(this).colorbox({rel:'group', transition:'fade',width:"600px",height:"600px"});
                });
            })
		});
		$("#log").val(username);
	}
   $(document).ready(function(){
        fenye(0);
})
</script>
</head>
<body>
<div id="page">
<div id="top">
	<div id="title">
    <img id="logo" src="../media/images/logo.jpg" align="left" height="130">
<!--    <h1 style="font-size:36px">高校网上跳蚤市场</h1>-->
	<a style="font-size:36px" style="margin-top:20px" style="font-family:宋体">高校网上跳蚤市场</a>
    </div><br />
    <div id="toplink">
    	<a>欢迎你：<input id="log" type="button" style="font-size:16px;color:#0000FF"/></a>
        <a href="/reg">注册</a>
        <a href="#" onClick="logout()">退出</a>
    </div>
    <div id=catalog align="center">
    <table border="2">
    	<tr>
    		<th> <a href="/index">最近发布</a></th>
            <th><a href="/rele">发布物品</a></th>
            <th> <a href="/myrele">我的发布</a></th>
            <th><a href="/collect">我的收藏</a></th>
            <th><a href="/userInfo">用户信息</a></th>
        </tr>
     </table>
     </div>
</div>
<div id="main">
    <div id="content" >
    </div>
     <div id="footer" align="center" style="color:#808000">
     上一页&nbsp;&nbsp;&nbsp;&nbsp;<input type="image" src="../media/images/prev.gif"onClick="fenye(1)"/>&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="image" src="../media/images/next.gif" onClick="fenye(2)"/>&nbsp;&nbsp;&nbsp;&nbsp;下一页
     </div>
</div>
</div>
</body>
</html>
