<ui-view>
    <div class="container-fluid background-all">
        <div class="col-md-offset-1 col-md-10 cate-nav">
            <div class="col-md-1 cate-title"><span>分类：</span>
            </div>
            <ul class="col-md-10 cate-list nav nav-pills" role="tablist">
                <li role="presentation"><a>全部</a></li>
                <li role="presentation"><a>图书</a></li>
                <li role="presentation"><a>服装</a></li>
                <li role="presentation"><a>食品</a></li>
                <li role="presentation"><a>电子产品</a></li>
                <li role="presentation"><a>体育用品</a></li>
                <li role="presentation"><a>户外用品</a></li>
                <li role="presentation"><a>生活用品</a></li>
            </ul>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <div class="col-md-3" ng-repeat="v in barter">
                <img class="barter-img-show" ng-src="{$upload_image_url + v.image_one_sha1$}"/>

                <h2>{$v.title$}</h2>
                <img class="" ng-src="{$upload_image_url + v.headimg$}"/>
                <span>{$v.creatorName$}</span>

                <p>{$v.content$}</p>
                <span>{$v.time$}</span>
            </div>
        </div>
    </div>
</ui-view>
