<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>发布物品</title>
<link href="../media/css/main.css" rel="stylesheet" style="text/css" />
<script src="../media/jslib/jquery.js" type="text/javascript"></script>
<script src="../media/jslib/plupload.full.min.js" type="text/javascript"></script>
<script src="../media/jslib/jquery.uploadify.min.js" type="text/javascript"></script>
<script src="../media/jslib/jquery.ui.plupload.min.js" type="text/javascript"></script>
<script src="../media/jslib/jquery.plupload.queue.min.js" type="text/javascript"></script>
<script src="../media/jslib/logout.js" type="text/javascript"></script>
<script type="text/javascript">
var userName="{{ username }}";
var uploader = null;
$(function(){
        uploader = new plupload.Uploader({//定义上传控件
        runtimes: 'html5,flash,html4',
        browse_button: pickfiles,//添加文件的标签的ID
        container: document.getElementById('container'),//
        url: "/ajax_upload/",//后台cs文件
        flash_swf_url: "/media/vidoes/Moxie.swf",
        filters : [
            {title : "Image files", extensions : "jpg,gif,png"}//过滤格式
        ],
        multipart_params : {},
        init: {
            PostInit: function() {
                document.getElementById('filelist').innerHTML = '';

                document.getElementById('uploadfiles').onclick = function() {
                    uploader.start();
                    return false;
                };
            },
            FilesAdded: function(up, files) {
                plupload.each(files, function(file) {
                    document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
                });
            }
        }
    });
    uploader.init();
})

function rele(){
	var title=$('#til').val();
	var category=$('#category').val();
	var description=$('#description').val();
    var data = {"type":"create-barter","userName":userName,"title":title,"category":category,"description":description}
	var post_data = {"data":JSON.stringify(data)};
	$.post("/request/",post_data,function(release){
        release = JSON.parse(release.replace(/<script.*<\/script>/,''));
			 if(release.ret=='1104'){
				alert(release.info);
				return;	
			 }
             var barter_sha1 = release.barterSha1;
             uploader.setOption('multipart_params',{"userName":userName , 'barterSha1':barter_sha1});
             if(uploader.files.length > 0) {
                    uploader.start();//开始上传
             }
             uploader.bind("UploadComplete", function(up, file, obj) {
                 location.href="/index";
             });
		})
};
$(document).ready(function(){
	$("#log").val(userName);
})
</script>
</head>
<body>
<div id="page">
<div id="top">
	<div id="title">
    <img id="logo" src="../media/images/logo.jpg" align="left" height="130">
<!--    <h1 style="font-size:36px">高校网上跳蚤市场</h1>-->
	<a style="font-size:36px" style="margin-top:20px" style="font-family:宋体">高校网上跳蚤市场</a>
    </div><br />
    <div id="toplink">
    	<a>欢迎你：<input id="log" type="button" style="font-size:16px;color:#0000FF"/></a>
        <a href="/reg">注册</a>
        <a href="#" onClick="logout()">退出</a>
    </div>
    <div id=catalog align="center">
    <table border="2">
    	<tr>
    		<th> <a href="/index">最近发布</a></th>
            <th><a href="/rele">发布物品</a></th>
            <th> <a href="/myrele">我的发布</a></th>
            <th><a href="/collect">我的收藏</a></th>
            <th><a href="/userInfo">用户信息</a></th>
        </tr>
     </table>
     </div>
</div>
<div id="main" align="center">
    <div id="content" >
    <p>标题：<input  id="til" type="text"/></p>
    <p>选择类别：
    <select id="category">  
 		<option value ="1">图书</option>  
  		<option value ="2">服装</option>  
  		<option value="3">电子产品</option>  
  		<option value="4">体育用品</option> 
        <option value="5">食品</option>
        <option value="6">户外用品</option>
        <option value="7">生活用品</option> 
	</select> 
    </p>
    <p>内容描述：<textarea id="description" type="text"></textarea></p><br />
    <div id="uploader_dropbox" >
    <ul class="plupload_filelist_content" id="uploader_filelist" unselectable="on"> </ul>
   
	</div>
    <div id="uploader_button_container" style=" width: 196px; height: 26px;">
    </div><br />
    <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
    <div id="container">
        <a id="pickfiles" href="javascript:;" style="color:#DC143C ">[选择图片]</a>
        <!--<a id="uploadfiles" href="javascript:;"style="color:#DC143C">[上传图片]</a>-->
    </div>
	<input type='submit' value='提交' onClick="rele()" id="uploadButton"/>
    </div>
</div>
</div>
</body>
</html>
