@charset "utf-8";
.head {
    position: relative;
    width: 100%;
    height: 100px;
}

.head-left {
    float: left;
    height: 100%;
}
.head-left .logo {
    height: 100%;
}

.head-mid {
    float: left;
    font-size: 20px;
    height: 100%;
    width: 990px;
    margin: 0 auto;
    /*margin-left: calc(50% - 495px);*/
    padding-top: 20px;
}

.head-right {
    float: left;
    height: 100%;
}

img.img-circle.user-head {
    /*position: absolute;
    top: 35px;
    left: 0;*/
    height: 75px;
    width: 75px;
}