@charset "utf-8";
.head-background {
    background-color: #fff;
}
.header-inner {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
.head-left {
    position: absolute;
    left: -100px;
    width: 100px;
}
.head-left img{
    width: 60px;
}
.head-mid {
    font-size: 18px;
    width: 900px;
    padding-top: 13px;
}

.head-right {
    position: absolute;
    top: 5px;
    right: 30px;
}

img.img-circle.user-head {
    /*position: absolute;
    top: 35px;
    left: 0;*/
    height: 50px;
    width: 50px;
}