@charset "utf-8";

.container-fluid.page {
    position: absolute;
    min-width: 1024px;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

.background-all{
    position: relative;
    height: calc(100% - 100px);
    overflow: auto;
    width: 100%;
}

.recent{
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    position: relative;
}

/*.active-cate {*/
    /*color: #fff;*/
    /*background-color: #b1daef;*/
/*}*/

ul.dropdown-menu.show-link {
    position: absolute;
    min-width: 0;
    display: block;
    left: 70px;
    top: 87px;
}

.table > tbody > tr >td.user-info-td-left {
    width: 90px;
    border-top: 0;
    border-bottom: 1px solid #dddddd;
}
.table > tbody > tr >td.user-info-td-right {
    border-top: 0;
    border-bottom: 1px solid #dddddd;
}

.modal-content {
    width: 500px;
    top: 200px;
    margin: auto;
}

.void-content {
    margin: auto;
    margin-top: 200px;
    text-align: center;
}
.loadmore {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}