@charset "utf-8";
.barter-img-list {
    float: left;
    width: 200px;
    height: 200px;
}

.barter-img {
    float: left;
    width: 200px;
    height: 200px;
}

.upload-img {
    width: 200px;
    height: 200px;
}

li.button-file.barter-upload-button {
    position: relative;
}

.desc-text {
    min-height: 200px;
}

input.upload-img {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
    z-index: 2;
}
.list-inline li.barter-img-list {
    position: relative;
} 
.delete-img{
    position: absolute;
    z-index: 10;
    top: -1px;
    right: -5px;
}
.delete-img img{
    width: 20px;
    height: 20px;
}

.error-text {
    text-align: center;
    color: red;
}